.games-container {
  width: 90vw;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 4rem;
}

.card {
  margin: 0 auto;
  width: 20rem;
  height: 26rem;
  border: 4px outset var(--seal-brown);
  border-radius: 12px;
  padding: 8px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background: rgb(71, 88, 160);
  background-color: var(--seal-brown-dark);
}

.card > img {
  width: 19rem;
  height: 12rem;
  border-radius: 12px;
  border: 4px inset var(--seal-brown);
}

.card > h2 {
  text-align: center;
}

.card > * {
  color: var(--laurel-green);
  font-weight: bold;
}

.add-to-cart {
  display: flex;
  gap: 16px;
}
