.home-container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-container {
  max-width: 32vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message-container > * {
  color: var(--laurel-green);
}

.message-container > h1 {
  font-size: 4rem;
}

.message-container > p {
  font-size: 2rem;
}

.home-image-container > img {
  width: 40vw;
  height: 28vw;
}

@media only screen and (max-width: 1178px) {
  .message-container {
    max-width: 90vw;
    text-align: center;
  }
  .home-image-container > img {
    display: none;
  }
}
