header {
  position: sticky;
  top: 0;
  background-color: var(--rich-black-fogra-29);
  border-bottom: 2px solid var(--rich-black-fogra-29-lighter);
}

nav {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  min-height: 4rem;
  display: flex;
}

.nav-img {
  width: 32px;
  height: 38px;
}

.nav-img:hover {
  filter: contrast(70%);
}

nav > ul {
  margin-left: auto;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10vw;
}

.nav-link:hover {
  filter: contrast(50%);
}

.nav-link:active {
  filter: contrast(100%);
}

.cart-container {
  display: flex;
}

.total-container {
  position: relative;
  left: 0.5rem;
  align-self: flex-end;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  background-color: rgb(233, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total {
  font-size: 1rem;
}

a {
  font-size: 1.4rem;
  color: var(--laurel-green);
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}

@media only screen and (max-width: 490px) {
  nav > img {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    justify-content: center;
  }
  nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    justify-content: center;
  }
  nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5vw;
  }
}
