nav {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  min-height: 4rem;
  display: flex;
}

nav > ul {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10vw;
}

a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
