* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background: rgb(44, 29, 60);
  background: linear-gradient(
    315deg,
    rgb(28, 18, 38) 4%,
    rgba(0, 0, 0, 1) 40%,
    rgb(42, 27, 56) 100%
  );
}

main {
  min-height: 100%;
}
